!lib/veewee/provider/kvm/templates/Vagrantfile
!lib/veewee/templates/Vagrantfile.erb
*.box
*.ova
*.swp
.DS_Store
.bundle
.project
.rbenv-gemsets
.ruby-version
.ruby-version
.vagrant
AutoPartition.app
Gemfile.lock
Vagrantfile
Vagrantfile.*
boxes/*
cookbooks/*
definitions/*
gems/*
iso
iso/*
manifests/*
pkg/*
tmp/*
veewee_dependencies
virtualfloppy.vfd
